extends _layout

block body
  .order-wrapper
    .grid.order.center
      .row
        .col.l12.l-txt-center.m-txt-center.s-txt-center
          a#homeLink.letter-head-logo(href='/') Sluice
      .row
        .col.l12.txt-center
          h1.title= title
      .row.confirmation-grid-header.order-table.pam
        .col.l3.m3 Item
        .col.l4.m4 Details
        .col.l2.m2 Quantity
        .col.l3.m3 Unit Price
      - for (var i = 0; i < cart.length; i++) {
        - var typeStr = '';
        - if (cart[i].item.config.model !== undefined && cart[i].item.config.model !== null) {
        -   typeStr = cart[i].item.config.model + ' ';
        - }
        .row.order-table.order-item.pam
          .col.l3.m3.item-type= typeStr + cart[i].item.type
          .col.l4.m4.item-desc= cart[i].item.config.desc
          .col.l2.m2= cart[i].quantity
          .col.l3.m3= '$' + (Math.floor(cart[i].item.config.price) / 100).toFixed(2)
      - }
      .row.order-subtotal.order-table.pam
        .col.l2.m2.l-right7.m-right7.shipping-lbl.order-table-lbl Subtotal: 
        .col.l3.m3.l-right7.m-right7.shipping-val.order-table-val= '$' + subtotal
      .row.order-shipping.order-table.pam
        .col.l2.m2.l-right7.m-right7.shipping-lbl.order-table-lbl Shipping: 
        .col.l3.m3.l-right7.m-right7.shipping-val.order-table-val= '$' + shipping
      .row.order-total.order-table.pam
        .col.l2.m2.l-right7.m-right7.total-lbl.order-table-lbl Total:
        .col.l3.m3.l-right7.m-right7.total-val.order-table-val.total= '$' + total
      - if (confirmation) {
        .row.ptl
          #checkoutBtn.col.spinner-btn.l3.m4.btn.green-solid.shadow.l-float-right.m-float-right
            .btn-wrapper.show(onclick='Sluice.confirm("' + approval_url + '")') Complete order
            .spinner-wrapper.hide
              .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
          input#cancelBtn.col.l3.m3.btn.link-btn.light-gray.cancel-order.l-float-right.m-float-right(onclick='Sluice.redirect("' + cancel_url + '")', type='button', value='Cancel order')
      - } else {
        .row
          .col.l2.m2.btn.shadow.green-solid.l-txt-center.right9(onclick='Sluice.redirectNoAsk("/")') Go Home
      - }

  - if (!confirmation) {
    .email-notice-wrapper
      .grid.center
        .row.pal
          .col.l12.m12.l-txt-center
            | We'll email you as soon as we ship your order!
  - }

  include ./includes/footer
  // Styles
  link(rel='stylesheet', type='text/css', href='css/common.css')
  link(rel='stylesheet', type='text/css', href='css/order-summary.css')
  // Scripts
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='js/jquery.cookie.js')
  script(src='js/common.js')
  - if (confirmation) {
    <script> !function () { window.onbeforeunload = function (e) { return 'This will cancel your checkout!'; } }() </script> 
  - } else {
    <script> !function ($) { $.removeCookie('sluice_cart_cookie'); }(jQuery) </script>
  - }
